/* .jumbotron{
  background: url("./imges/2128988264\ copy.jpg") no-repeat center center; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
} */
/* *{
  font-family: "Roboto", sans-serif;
  font-family: "Roboto" ;
  font-weight: 300 ;
  font-size: 48px;
  letter-spacing: -2px ;
  -webkit-font-smoothing: antialiased;
} */

body {
  width: 100%;
  height: 100%;
  /* background: ; */
  color: #444444;
  letter-spacing: 0.03em;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo{
  width: 100px;
}

.jumbotron {
  background-image: url(./imges/2128988264\ copy.jpg);
  background-size: cover;
  min-height: 600px;
}


.wsite-headline{

  color: white;
  font-family: "Roboto" !important;
  font-weight: 300 !important;
   font-size: 48px;
   letter-spacing: -2px !important;
  text-transform: uppercase;
 
  text-align: left;
  line-height: 40px;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 10px;
  margin: 100px 0 0 0px;

}

/* .push-spaces
{
    height: 600px;
} */
.section {
  color: #444444;
  letter-spacing: 0.03em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
}

.content-title{

 font-family: "Oxygen" !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
  color: rgb(28, 7, 149);
  /* -webkit-font-smoothing: antialiased; */
}



.top-one h2{
  font-family: "Oxygen" !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
  color: rgb(28, 7, 149);
  -webkit-font-smoothing: antialiased;
}

.top-one p{
  font-family: "Oxygen" !important;
  text-transform: uppercase !important;
  /* color: rgb(28, 7, 149); */
  -webkit-font-smoothing: antialiased;
}

.jumbotron{
  margin-bottom: 0;
  height: 1000px;
}
.navbar {
  background-color: #FFFFFF;
  height:45px;
}
/* .navbar {
  position: relative;
} */
/* .brand { */
  /* position: absolute; */
  
  /* left: 50%;
  margin-left: -50px !important;  50% of your logo width */
  /* display: block; */

.gutter{
  padding-left: 40px;
  padding-right: 50px;
}

.section-content{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-section p{
  font-size: 20px;
  margin:40px 0 60px 0;

}

.sub-section h3{
  font-size: 50px;
}
.sub-section h5{
  font-size: 35px;
}
.navbar .nav-item {
  width: 150px;
  background-color: white;
}